<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hay un nuevo usuario registrado en el sistema. Puedes activarle la cuenta o rechazarla <%= link_to 'AQUI', @url %> </h1>
  </body>
</html>
