<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un link para reestablecer su contraseña. Puede hacerlo a través del siguiente link.</p>

<p><%= link_to 'Cambiar password', "#{ENV['FRONT_END_URL']}/updatePass?reset_password_token=#{@token}"%></p>

<p>Si usted no lo solicitó, por favor ignore este email.</p>
<p>Su contraseña no será modificada hasta que acceda al link anterior y cree una nueva.</p>
